.profile-image img {
    margin-left: 20px;
}

.tab-content {
    margin-top: 5px;
}

p {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

.star-ratting {
    margin-bottom: 10px;
    font-size: 13px;
    position: relative;
}

.star-ratting:before {
    content: "\f005 \f005 \f005 \f005 \f005";
    position: absolute;
    top: 0;
    left: 0;
    color: #FF9919;
}

#addbutton {
    margin: 0 0 0 2px;
}