{% extends 'studentfood/html/base.html' %}{% load static%}
{% block stat%}
    <link href="{% static "css/profile.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}Профиль {{ user.username }}{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
                <!-- Левая часть -->
            <div class="col">
                <div class="profile-image">
                    <img src="{{ user.photo_url }}" width="200" height="200" alt="Ваше фото">
                    <h2 align="center">{{ user.username }}</h2>
                </div>

                <!-- Создание рецепта -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap" id="addbutton">Добавить рецепт</button>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Добавить рецепт</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                        <form action="" method="post" enctype="multipart/form-data">
                            <div class="modal-body">
                                {% csrf_token %}
                                {{ recipe_form.as_p }}
                              </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Добавить рецепт</button>
                                <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Закрыть</button>
                            </div>
                        </form>
                    </div>
                  </div>
                </div>

            </div>


                <!-- Основная часть -->
            <div class="col-10" id="main-profile">
                  <!-- Вкладки -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="own-tab" data-bs-toggle="tab" data-bs-target="#own" type="button" role="tab" aria-controls="own" aria-selected="true">Собственные рецепты</button>
                  </li>

                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="favorite-tab" data-bs-toggle="tab" data-bs-target="#favorite" type="button" role="tab" aria-controls="favorite" aria-selected="false">Избранные рецепты</button>
                  </li>

                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Настройки профиля</button>
                  </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <!-- Вкладка "Ваши рецепты" -->
                  <div class="tab-pane fade show active" id="own" role="tabpanel" aria-labelledby="own-tab" style="margin: 5px">
                     {% if recipes_list.count > 0 %}
                         <div class="row row-cols-4 g-2">
                            {% for content in recipes_list %}
                                {% if content.user == user %}
                                        <div class="col">
                                            <div class="card h-100 w-75 border-info">
                                                <a href="{% url 'studentfood:detail' content.id%}"><img src="../../static/images/kfc.jpg" class="card-img-top" alt="Изображение отсутствует"></a>
                                              <div class="card-body">
                                                <a href="{% url 'studentfood:detail' content.id%}"><h5 class="card-title">{{ content.recipe_name }}</h5>
                                                <p class="card-text">{{ content.description }}</p>
                                                <span>Цена: {{ content.price }} рублей</span></a>
                                                <div class="star-ratting">&nbsp;</div>
                                                <span>{{ content.pub_date|date:"d.m.Y" }}</span>
                                              </div>
                                            </div>
                                        </div>
                                {% endif %}
                            {% endfor %}
                         </div>
                    {% endif %}
                  </div>


                    <!-- Вкладка "Избранные рецепты" -->
                  <div class="tab-pane fade" id="favorite" role="tabpanel" aria-labelledby="favorite-tab">
                      <h1>Избранные рецепты</h1>
                  </div>


                    <!-- Вкладка "Настройки профиля" -->
                  <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                      <p>Смена логина</p>
                      <p>Смена пароля</p>
                      <p>Смена почты</p>
                      <p>Смена аватара</p>
                  </div>
                </div>

                <a role="button" class="btn btn-danger" data-bs-toggle="button" href="{% url 'logout' %}">Выйти из профиля</a>
                <a role="button" class="btn btn-success" data-bs-toggle="button" href="{% url 'studentfood:main' %}">Главная страница</a>

            </div>


                <!-- Правая часть-->


        </div>
    </div>
{% endblock %}

{% block java %}
    <script type="text/javascript" src={% static "js/profile.js" %}></script>
{% endblock %}


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Open modal for @getbootstrap</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>