<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание рецепта...</title>
</head>
<body>
    <form action="" method="post">
    {% csrf_token %}
    {% comment %}
        <p><input id="recipe_form" type="text" name="recipe_name" value=""></p>
        <p><input id="recipe_form" type="text" name="description" value=""></p>
        <p><select>
            <option disabled>Выберите категорию</option>
            {% for cat in recipe_form.category %}
                <option id="recipe_form" value="{{ cat }}" name="category"></option>
            {% endfor %}
        </select></p>
        <p><input id="recipe_form" type="text" name="price" value=""></p>
        {% endcomment %}
        {{ recipe_form.as_p }}
        <p><input type="submit" value="Создать рецепт"></p>
        <p>{{ request.user }}</p>
    </form>
</body>
</html>