{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link href="{% static "css/base.css" %}" rel="stylesheet" type="text/css">
    {% block stat %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <!-- Шапка -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">

        <!-- Логотип -->
        <a class="navbar-brand" href="{% url 'studentfood:main' %}">
            <img src='../../static/images/logo.jpg' width="50"
                 height="50"
                 alt="Рецепты"
                 class="rounded-circle">
        </a>

        <!-- Поиск -->
        <div id="search">
            <form class="d-flex">
                <input class="form-control me-1" type="search" placeholder="Поиск рецептов" aria-label="Search" id="search-input">
                <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
            </form>
        </div>

        <!-- Кпопка выпадающего списка -->
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Контент в выпадающем списке -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!-- <a class="nav-item nav-link active" href="/">Главная </a> -->
                <!-- <a class="nav-item nav-link" href="/">О нас</a> -->
                {% if request.user.is_authenticated %}
                      <a href="{% url 'studentfood:profile' %}" class="image-profile">
                          <img src='../../static/images/kfc.jpg' width="50" height="50" class="rounded-circle" alt="{{ user.username }}">
                      </a>
                      <a class="nav-item nav-link" href="/logout" id="a-button"><img src='../../static/images/exit.png' width="35" height="35" alt="Выход"></a>
                {% else %}
                    <a class="nav-item nav-link active" href="/login">Вход</a>
                    <a class="nav-item nav-link active" href="/reg">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </nav>


    <!-- Основа контента -->
    <div  class="container-fluid jumbotron" id="content">
        {% block main %}
        {% endblock %}
    </div>

    <!-- Подвал -->
    <div class="copyright-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h6 class="copy-title">©2021 , All Right Reserved & developed by SFU</h6>
                    {% block footer %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
{% block java %}
{% endblock %}
</body>
</html>