{% extends 'studentfood/html/base.html' %}
{% block title %}Рецепты для студентов{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <img src="../../static/images/kfc.jpg" width="200" height="200" alt="../../static/images/kfc.jpg">
            </div>

            <div class="col-10">
                <h6>{{ recipe_detail.pub_date|date:"d.m.Y" }}</h6>
                <h1>{{ recipe_detail.recipe_name }}</h1>
                <p>{{ recipe_detail.description }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-2"></div>

            <div class="col-8">
                <h1>Рейтинг</h1>
                <p>Комментарии</p>
            </div>

            <div class="col-2"></div>
        </div>
    </div>
{% endblock %}