{% extends 'studentfood/html/base.html' %}{% load static%}
{% load crispy_forms_tags %}
{% block title %}Рецепты для студентов{% endblock %}
{% block stat%}
    <link href="{% static "css/product.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/star_rating.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div>
                    <img src="{{ recipe_detail.photo_url }}" width="200" height="200" alt="Технические неполадки">
                </div>
                <div class="favorite-input">
                    {% if request.user.is_authenticated and request.user.id not in bookmark_user_ids%}
                    <form action="{% url 'studentfood:favourite_add' recipe_detail.id %}" method="post">
                    {% csrf_token %}
                        <input type="submit" value="Добавить в избранное" name="favourite_click">
                    </form>

                {% endif %}

                </div>
            </div>

            <div class="col-10">
                <h6>{{ recipe_detail.user }} : {{ recipe_detail.pub_date|date:"d.m.Y" }}</h6>
                <h1>{{ recipe_detail.recipe_name }}</h1>
                <p>{{ recipe_detail.description }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-2"></div>

            <div class="col-8">
                <div class="rating rating_set">
                  <div class="rating_body">
                      <div class="rating_active"></div>
                      <div class="rating_items">
                          <input type="radio" class="rating_item" value="1" name="rating">
                          <input type="radio" class="rating_item" value="2" name="rating">
                          <input type="radio" class="rating_item" value="3" name="rating">
                          <input type="radio" class="rating_item" value="4" name="rating">
                          <input type="radio" class="rating_item" value="5" name="rating">
                      </div>
                  </div>
                  <div class="rating_value">{{ recipe_detail.calculate_mark }}</div>
                </div>
                <br>
                <div>
                    {% if request.user.is_authenticated %}
                <form action="" method="post">
                    {% csrf_token %}
                    {{ mark_form.as_p }}
                    <input type="submit" value="Поставить оценку!">
                </form>
                    {% else %}
                    <p>Войдите в систему, чтобы поставить оценку.</p>
                {% endif %}
                </div>
                <br>
                <div class="row">
                    <p>
                        <strong>Комментарии:</strong>
                        <span>{{ comments_count }}</span>
                    </p>
                    {% for comment in comment_list %}
                            <div class="comment-obj">
                                <p><strong>{{ comment.user }}</strong> | Опубликовано: {{ comment.pub_date|date:"d-m-Y H:i" }}</p>
                                <p>{{ comment.text }}</p>
                            </div>
                        {% empty %}
                            <p>Нет комментариев. Будь первым!</p>
                    {% endfor %}

                    {% if request.user.is_authenticated %}
                                {% if post_comment %}
                                    <h2>Ваш комментарий добавлен!</h2>
                                {% else %}
                                    <h2>Добавить комментарий</h2>
                                    <form action="." method="post">
                                        {% csrf_token %}
                                        {{ comment_form.as_p }}
                                        <p><input type="submit" value="Отправить"></p>
                                    </form>
                                {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="col-2"></div>
        </div>
    </div>
{% endblock %}

{% block java %}
    <script type="text/javascript" src={% static "js/rating.js" %}></script>
{% endblock %}