{% extends 'studentfood/html/base.html' %} {% load static %}
{% load crispy_forms_tags %}
{% block title %}Рецепты для студентов{% endblock %}

{% block main %}
    {% block content %}
    <div class="container-fluid jumbotron">
        <div class="row">
            <div class='col-sm-6 col-sm-offset-3'>
                <!--h3>{{ title }}</h3><-->
                <hr/>
                <form method='POST' action='' enctype='multipart/form_data'>
                    {{ form.username|as_crispy_field }}
                    <br>
                    <p>Почта</p>
                    <input type="text" id="email" data-url="check_email/">
                    <p id="checkemail-result">Поле </p>
                    {{ form.password|as_crispy_field }}
                    {{ form.password2|as_crispy_field }}
                    {% csrf_token %}
                    <input class="description" type='submit' value='{{ title }}'/>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
{% endblock %}

{% block java %}
   <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {

        var emailField = document.getElementById('email');
        emailField.addEventListener("change", function () {

            var email = 'email=' + this.value;
            var url = emailField.dataset.url;

            var xhr = new XMLHttpRequest();
            xhr.open('POST', url, true);
            xhr.addEventListener('readystatechange', function () {
                if ( (xhr.readyState===4) && (xhr.status===200) ) {
                    var notification = document.getElementById('checkemail-result');
                    var data = JSON.parse(xhr.response);
                    notification.innerHTML = data.message;
                }
            });

            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");

            xhr.send(email);

        });

    });
</script>
{% endblock %}
