{% for recipe in page_obj%}
        <div class="price-line">

        <div class="product-image">
          <a href="{% url 'studentfood:detail' recipe.id%}"><img src="{{ recipe.photo_url }}" width="100" height="100" alt="{{ recipe.recipe_name }}"></a>
        </div>

        <div class="product-content">
          <div class="product-title"><a href="{% url 'studentfood:detail' recipe.id%}">{{ recipe.recipe_name }}</a></div>
          <div class="product-description"><a href="{% url 'studentfood:detail' recipe.id%}">{{ recipe.description }}</a></div>
          <div class="price-box"><span>Цена: {{ recipe.price }} рублей</span></div>
          <div class="star-rating">&nbsp;</div>
        </div>

        </div>
{% endfor %}